In [1]:
import yfinance as yf

aapl = yf.Ticker("aapl")
aapl

yfinance.Ticker object <AAPL>

In [2]:
aapl_historical = aapl.history(interval="1d")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-05,123.870003,126.160004,123.070000,125.900002,88651200,0,0
2021-04-06,126.500000,127.129997,125.650002,126.209999,80171300,0,0
2021-04-07,125.830002,127.919998,125.139999,127.900002,83466700,0,0
2021-04-08,128.949997,130.389999,128.520004,130.360001,88844600,0,0
2021-04-09,129.800003,133.039993,129.470001,133.000000,106686700,0,0
2021-04-12,132.520004,132.850006,130.630005,131.240005,91420000,0,0
2021-04-13,132.440002,134.660004,131.929993,134.429993,91266500,0,0
2021-04-14,134.940002,135.000000,131.660004,132.029999,87222800,0,0
2021-04-15,133.820007,135.000000,133.639999,134.500000,89347100,0,0
2021-04-16,134.300003,134.669998,133.279999,134.160004,84922400,0,0
2021-04-19,133.509995,135.470001,133.339996,134.839996,94264200,0,0
2021-04-20,135.020004,135.529999,131.809998,133.110001,94812300,0,0
2021-04-21,132.360001,133.750000,131.300003,133.500000,68847100,0,0
2021-04-22,133.039993,134.149994,131.410004,131.940002,84566500,0,0
2021-04-23,132.160004,135.119995,132.160004,134.320007,78657500,0,0
2021-04-26,134.830002,135.059998,133.559998,134.720001,66905100,0,0
2021-04-27,135.009995,135.410004,134.110001,134.389999,66015800,0,0
2021-04-28,134.309998,135.020004,133.080002,133.580002,107760100,0,0
2021-04-29,136.470001,137.070007,132.449997,133.479996,151101000,0,0
2021-04-30,131.779999,133.559998,131.070007,131.460007,109713200,0,0
2021-05-03,132.039993,134.070007,131.830002,132.539993,75135100,0,0
2021-05-04,131.190002,131.490005,126.699997,127.849998,137375500,0,0
2021-05-05,129.199997,130.440002,128.860001,130.011703,41881321,0,0

In [3]:
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 100000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 127.85,
 'regularMarketOpen': 129.2,
 'twoHundredDayAverage': 126.05434,
 'trailingAnnualDividendYield': 0.006413766,
 'payoutRatio': 0.1834,
 'volume24Hr': None,
 'regularMarketDayHigh': 130.44,
 'navPrice': None,
 'averageDailyVolume10Day': 102000828,
 'totalAssets': None,
 'regularMarketPreviousClose': 127.85,
 'fiftyDayAverage': 128.302,
 'trailingAnnualDividendRate': 0.82,
 'open': 129.2,
 'toCurrency': None,
 'averageVolume10days': 102000828,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1620345600,
 'beta': 1.219525,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 128.86,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 29.241404,
 'regularMarketVolume': 42117182,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2170973323264,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 102014859,
 'priceToSalesTrailing12Months': 6.6715837,
 'dayLow': 128.86,
 'ask': 130.02,
 'ytdReturn': None,
 'askSize': 1300,
 'volume': 42117182,
 'fiftyTwoWeekHigh': 145.09,
 'forwardPE': 24.5,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.37,
 'fiftyTwoWeekLow': 74.7175,
 'bid': 130.01,
 'tradeable': False,
 'dividendYield': 0.0069,
 'bidSize': 2200,
 'dayHigh': 130.44,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 6.716,
 'beta3Year': None,
 'profitMargins': 0.23451,
 'enterpriseToEbitda': 21.893,
 '52WeekChange': 0.7010944,
 'morningStarRiskRating': None,
 'forwardEps': 5.31,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16687599616,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 4.146,
 'sharesShort': 127937929,
 'sharesPercentSharesOut': 0.0077,
 'fundFamily': None,
 'lastFiscalYearEnd': 1601078400,
 'heldPercentInstitutions': 0.60099,
 'netIncomeToCommon': 76311003136,
 'trailingEps': 4.449,
 'lastDividendValue': 0.205,
 'SandP52WeekChange': 0.46209478,
 'priceToBook': 31.378439,
 'heldPercentInsiders': 0.00075999997,
 'nextFiscalYearEnd': 1664150400,
 'mostRecentQuarter': 1616803200,
 'shortRatio': 1.29,
 'sharesShortPreviousMonthDate': 1615766400,
 'floatShares': 16670275864,
 'enterpriseValue': 2185324658688,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1612483200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 1.101,
 'dateShortInterest': 1618444800,
 'pegRatio': 1.46,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0077,
 'sharesShortPriorMonth': 107011007,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 130.095,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [5]:
hist = aapl.history(period = "max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100922,0.101361,0.100922,0.100922,469033600,0.0,0.0
1980-12-15,0.096096,0.096096,0.095657,0.095657,175884800,0.0,0.0
1980-12-16,0.089075,0.089075,0.088636,0.088636,105728000,0.0,0.0
1980-12-17,0.090830,0.091268,0.090830,0.090830,86441600,0.0,0.0
1980-12-18,0.093463,0.093902,0.093463,0.093463,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2021-04-29,136.470001,137.070007,132.449997,133.479996,151101000,0.0,0.0
2021-04-30,131.779999,133.559998,131.070007,131.460007,109713200,0.0,0.0
2021-05-03,132.039993,134.070007,131.830002,132.539993,75135100,0.0,0.0
2021-05-04,131.190002,131.490005,126.699997,127.849998,137375500,0.0,0.0
2021-05-05,129.199997,130.440002,128.860001,130.070801,42185654,0.0,0.0

In [6]:
aapl.dividends

Date
1987-05-11    0.000536
1987-08-10    0.000536
1987-11-17    0.000714
1988-02-12    0.000714
1988-05-16    0.000714
                ...
2020-02-07    0.192500
2020-05-08    0.205000
2020-08-07    0.205000
2020-11-06    0.205000
2021-02-05    0.205000
Name: Dividends, Length: 70, dtype: float64

In [7]:
aapl.splits

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [8]:
aapl.financials

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Research Development,18752000000.0,16217000000.0,14236000000.0,11581000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,67091000000.0,65737000000.0,72903000000.0,64089000000.0
Minority Interest,None,None,None,None
Net Income,57411000000.0,55256000000.0,59531000000.0,48351000000.0
Selling General Administrative,19916000000.0,18245000000.0,16705000000.0,15261000000.0
Gross Profit,104956000000.0,98392000000.0,101839000000.0,88186000000.0
Ebit,66288000000.0,63930000000.0,70898000000.0,61344000000.0
Operating Income,66288000000.0,63930000000.0,70898000000.0,61344000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2873000000.0,-3576000000.0,-3240000000.0,-2323000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,9680000000.0,10481000000.0,13372000000.0,15738000000.0
Total Revenue,274515000000.0,260174000000.0,265595000000.0,229234000000.0
Total Operating Expenses,208227000000.0,196244000000.0,194697000000.0,167890000000.0
Cost Of Revenue,169559000000.0,161782000000.0,163756000000.0,141048000000.0
Total Other Income Expense Net,803000000.0,1807000000.0,2005000000.0,2745000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,57411000000.0,55256000000.0,59531000000.0,48351000000.0
Net Income Applicable To Common Shares,57411000000.0,55256000000.0,59531000000.0,48351000000.0

In [9]:
aapl.major_holders

        0                                      1
0   0.08%        % of Shares Held by All Insider
1  60.10%       % of Shares Held by Institutions
2  60.15%        % of Float Held by Institutions
3    4900  Number of Institutions Holding Shares

In [10]:
aapl.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",1255155794,2020-12-30,0.0752,166546622305
1,Blackrock Inc.,1056461286,2020-12-30,0.0633,140181848039
2,"Berkshire Hathaway, Inc",887135554,2020-12-30,0.0532,117714016660
3,State Street Corporation,638166552,2020-12-30,0.0382,84678319784
4,"FMR, LLC",358551697,2020-12-30,0.0215,47576224674
5,"Geode Capital Management, LLC",247977084,2020-12-30,0.0149,32904079275
6,Price (T.Rowe) Associates Inc,210474648,2020-12-30,0.0126,27927881043
7,Northern Trust Corporation,205000080,2020-12-30,0.0123,27201460615
8,Norges Bank Investment Management,167580974,2020-12-30,0.0100,22236319440
9,Bank Of New York Mellon Corporation,157791038,2020-12-30,0.0095,20937292832

In [11]:
aapl.earnings

           Revenue     Earnings
Year
2017  229234000000  48351000000
2018  265595000000  59531000000
2019  260174000000  55256000000
2020  274515000000  57411000000

In [12]:
aapl.sustainability

                                     Value
2021-3
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           7.69
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               56
governanceScore                       8.94
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             16.73
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           11.77
peerGroup              Technology Hardware
smallArms                            False
environmentScore                       0.1
governancePercentile                  None
militaryContract                     False

In [13]:
aapl.recommendations

                                       Firm      To Grade From Grade Action
Date
2012-02-09 08:17:00       Canaccord Genuity           Buy              main
2012-03-08 07:33:00          FBN Securities    Outperform              main
2012-03-13 06:08:00               Jefferies           Buy              main
2012-03-14 06:13:00          Morgan Stanley    Overweight              main
2012-03-14 08:21:00       Canaccord Genuity           Buy              main
...                                     ...           ...        ...    ...
2021-04-29 12:36:07               Jefferies           Buy              main
2021-04-29 13:17:44       Canaccord Genuity           Buy              main
2021-04-29 13:20:06           Credit Suisse       Neutral              main
2021-04-29 13:40:32  Monness, Crespi, Hardt           Buy              main
2021-04-29 14:01:59                Barclays  Equal-Weight              main

[789 rows x 4 columns]